
Article/main.aux
Article/main.bbl
Article/main.blg
Article/main.log
Article/main.synctex.gz
Article/main.toc
Article/main.pdf
main.log
main.aus
main.out
main.toc
texput.log
Beamer/imgs
Beamer/main.aux
Beamer/main.log
Beamer/main.nav
Beamer/main.out
Beamer/main.snm
Beamer/main.toc
Beamer/main.vrb
calco/main.vtc
jlamp/*.aux
jlamp/*.blg
jlamp/*.spl
jlamp/*.out
jlamp/*.log
jlamp/textput.log
jlamp/jlamp.pdf
jlamp/jlamp.synctex.gz
calco/hypergraph.tikzdefs
calco/hypergraph.tikzstyles
calco/submission/tikzit.sty
calco/tikzit.sty
jlamp/elsarticle.cls
jlamp/jlamp.bbl
jlamp/jlamp.toc
jlamp/jlamp_rivisto/*.aux
jlamp/jlamp_rivisto/*.blg
jlamp/jlamp_rivisto/*.spl
jlamp/jlamp_rivisto/*.out
jlamp/jlamp_rivisto/*.log
jlamp/jlamp_rivisto/textput.log
jlamp/jlamp_rivisto/jlamp.pdf
jlamp/jlamp_rivisto/jlamp.synctex.gz
jlamp/jlamp_rivisto/elsarticle.cls
jlamp/jlamp_rivisto/jlamp.bbl
jlamp/jlamp_rivisto/jlamp.toc

icfpws17haskell-haskellmainid20.pdf
