
Article/main.aux
Article/main.bbl
Article/main.blg
Article/main.log
Article/main.synctex.gz
Article/main.toc
Article/main.pdf
main.log
main.aus
main.out
main.toc
texput.log
Beamer/imgs
Beamer/main.aux
Beamer/main.log
Beamer/main.nav
Beamer/main.out
Beamer/main.snm
Beamer/main.toc
Beamer/main.vrb
calco/main.vtc
